@model TableModel
@{
    ViewData["Title"] = "Index";
}

<h1>App Home</h1>

<form method="post" enctype="multipart/form-data" asp-controller="FileUpload" asp-action="AprioriHome">
    <div class="form-group">
        <div class="col-md-10">
            <p>Upload only one file using this form:</p>
            <input type="file" name="files" multiple />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Upload" />
            @TempData["FileUploaded"]
        </div>
    </div>
    <div class="col-md-10">
        @* <button name="button" value="First" asp-action="Btn_click"> Get rules</button>*@
        @TempData["TimeElapsed"]

    </div>
    <div id="grid">

    </div>
</form>


<div>
    <table  class="table table-striped">
        <thead class="table-heading">
            <tr>
                <th>
                    <p>Item</p>
                  @*  @Html.DisplayNameFor(model => model.newList.First().Label)*@
                </th>
                <th>
                    <p>Count</p>
                    @* @Html.DisplayNameFor(model => model.newList.First().Support)*@
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.newList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Label)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Support)
                    </td>


                </tr>
            }
        </tbody>
    </table>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.L1List.First().Label)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.L1List.First().Support)
                </th>


                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.L1List)
            {


                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Label)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Support)
                    </td>


                </tr>
            }
        </tbody>
    </table>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Rules.First().Label)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rules.First().Support)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rules.First().Confidance)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Rules)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Label)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Support)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Confidance)
                    </td>


                </tr>
            }
        </tbody>
    </table>
</div>